<!-- CSS classes are usually written in kebab case like test-class -->
<div class="onceRestaurantsLcation">
    <div class="map-responsive">
<!--   Google maps lets you use lat long in the URL (https://www.google.com/maps/search/?api=1&query=<lat>,<lng>)  -->
        <iframe src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>
    <div class="title">
        <h1>{{restaurant?.name}}</h1>
        <span>{{restaurant.category}}</span>
    </div>
    <div class="info">
        <p>{{restaurant.location.address}}</p>
        <p>{{restaurant.contact.formattedPhone}}</p>
        <p>{{"@ " + restaurant.contact.twitter}}</p>
    </div>
</div>
