
.onceRestaurantsLcation{
    position: relative;
    animation: mymove 1s ;
}
@keyframes mymove {
    from  {left: -100%;}
    to    {left: 0px}
}
.map-responsive iframe{
    left:0;
    top:0;
    height:300px !important;
    width:100%;
}

.title{
    height: 70px;
    background-color: #34b379;
    padding-top: 1rem;
    padding-left: 1rem;
    h1{
        color:var(--text-color);
        font-family: 'AvenirNext-DemiBold';
    }
    span{
        font-size: 1.2rem;
        color: var(--text-color);
        font-family: 'AvenirNext-DemiBold';
    }
}

.info{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 5%;
    p{
        font-size: 2rem;
        margin: 1rem 0;
        font-family: 'AvenirNext-DemiBold';
    }
}